---
title: Portfolio
description: 제가 진행했던 프로젝트 관련 내용 정리 입니다.
permalink: portfolio
visible: true
---

<div class="header__right2" data-aos="fade-left">
  <img src="assets/images/profile/header_profile.png" />
</div>

<div class="hyde posts">
  {% assign sorted = site.projects | sort: 'number' | reverse %} {% for project in sorted %}
  <div class="hyde post{% unless forloop.last %} divider{% endunless %}">
    <a href="{{ project.url }}">
      <div class="hyde post-thumbnail-wrapper">
        {% if project.image %}
        <div class="hyde post-thumbnail" style="background-image: url('/assets/images/projects/{{ project.image }}');"></div>
        {% elsif project.youtube %}
        <div
          class="hyde post-thumbnail"
          style="background-image: url('{{ project.youtube | prepend: 'https://img.youtube.com/vi/' }}/maxresdefault.jpg')"
        ></div>
        {% else %}
        <div class="hyde post-thumbnail"></div>
        {% endif %}
      </div>
    </a>
    <a href="{{ project.url }}">
      <h2 class="hyde post-title">{{ project.title }}</h2>
    </a>
    <div class="hyde post-trail">
      <span class="hyde post-date">{{ project.date | date: '%Y년 %-m월 %-d일~ ' }}</span>
      <span class="hyde post-date">{{ project.date1 | date: '%Y년 %-m월 %-d일' }}</span>
    </div>
  </div>
  {% else %} {% include empty.html %} {% endfor %}
</div>